// ========================================= Colors =============================== //

//Standard Font Color
$font-color: #222222;

//Green
$green: #00C853;

//Red
$red:#F44336;

//Blue
$blue:#2196F3;

//Light Grey
$light-grey:#F5F5F5;

//Medium Grey
$medium-grey: #616161;

//Blue Grey
$blue-grey: #78909C;


// ========================================= Fonts ================================ //

//Primary Font --- Lato
$primary-font: Lato;
$font-ultra-light: 100;
$font-light: 300;
$font-normal:400;
$font-bold: 700;
