@import 'slider-variables';

// ========================================= Slides ================================= //
.slider-container {
  width: $slide-width;
  height: $slide-height;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  .slides {
    list-style: none;
    position: relative;
    .slide {
      width: $slide-width;
      height: $slide-height;
      float: left;
    }
  }
}
