@import 'slider-variables';

// ========================================= Slider Controls ================================= //

.slider-controls {
  position: absolute;
  width: 100%;
  display: none;
  .prev, .next {
    display: flex;
    align-items: center;
    width: $controls-icon-background-size;
    height: $controls-icon-background-size;
    background-color: $controls-background;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: .35s;
    &:hover {
      background-color: $controls-background-hover;
      & i {
        color: $controls-icon-color-hover;
      }
    }
  }
  i {
    font-size: $controls-icon-size;
    width: 100%;
    color:  $controls-icon-color;
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}
